img {
  max-width: 100%;
}

.mini-logo {
  width: 42px;
}

.ul-header {
  list-style: none;
}

.dropdown-menu[data-bs-popper] {
  left: auto;
  right: 0;
}

/* SIDE BAR */

.side-bar {
  height: calc(100vh - 58px);
  padding: 0 7px;
  position: relative;
  color: whitesmoke;
  width: 60px;

  background-color: black;
  background-image: url(../img/sidebar-bg.png);
}

.setting {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
}

main header {
  width: calc(100vw - 60px);
}

main div > span {
  background-color: rgba(5, 44, 101, 0.5);
}

.no-bg {
  background-color: rgba(0, 0, 0, 0);
}

.bedge-div {
  max-width: 50%;
}

@media screen and (min-width: 768px) {
  .side-bar {
    width: 250px;
  }

  main header {
    width: calc(100vw - 250px);
  }

  .setting {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 992px) {
  .bedge-div {
    max-width: 30%;
  }

  main header {
    justify-content: space-between;
  }
}
