main {
  height: calc(100vh - 58px);
}

img {
  max-width: 100%;
}

.mini-logo {
  width: 42px;
}

.ul-header {
  list-style: none;
}

.dropdown-menu[data-bs-popper] {
  left: auto;
  right: 0;
}

.item-1 {
  order: 1;
}

.item-2 {
  order: 3;
}

.item-3 {
  order: 2;
}

/* SIDE BAR */

.side-bar {
  height: 100%;
  padding: 0 7px;
  color: whitesmoke;
  width: 60px;
  align-items: center;
  background-color: black;
  background-image: url(../img/sidebar-bg.png);
}

.setting {
  justify-content: center;
}

main header {
  width: calc(100vw - 60px);
}

main div > span {
  background-color: rgba(5, 44, 101, 0.5);
}

.no-bg {
  background-color: rgba(0, 0, 0, 0);
}

.bedge-div {
  max-width: 50%;
}

.offcanvas.offcanvas-end {
  width: 100%;
  max-width: 768px;
}

.avatar-img {
  width: 30px;
}

.btn.btn-outline-secondary {
  padding: 0.1rem 0.3rem;
}

.button_td {
  margin: 0 -10px;
}

.content-section {
  overflow-y: auto;
  overflow-x: hidden;
}

.side-button:hover {
  background-color: rgb(177, 177, 177);
}

@media screen and (min-width: 768px) {
  .side-bar {
    height: calc(100vh - 58px);
    width: 200px;
    align-items: flex-start;
  }

  main header {
    width: calc(100vw - 200px);
  }

  .setting {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 992px) {
  .bedge-div {
    max-width: 30%;
  }

  main header {
    justify-content: space-between;
  }
}
